{% extends 'base.html.twig' %}

{#
http://twig.sensiolabs.org/doc/3.x/
As you can see this file extends base, which means we use base as template
we write in between the block tags, and end with the end block tag. Note that 
this is a twig file! there is special syntax!! i.e

things between double curly braces are written

things beteen curly percent are done; you write code in these

Also controllers are the ones who render the twig file, for this twig we pass 
it a form and an array called items.
#}




{% block stylesheets %}
<style>
.bg-1{
     background-color: #bf7fbf;
     color: #ffffff;    
 }
.bg-2{
    background-color: #43d36d;
    color: #000000;
}
</style>
{% endblock %}



{% block body %}
{{ form_start(form) }}
{{ form_widget(form) }}
{{ form_end(form) }}   
<div class = "container-fluid bg-1 text-center">
    <div class="row">
        <div class="col-sm-4">
            <h1>Categories:</h1>
            <h2><a href="http://sfsuse.com/~sp17g01/sp17g01/web/all">All</a></h2>
            <h2><a href="http://sfsuse.com/~sp17g01/sp17g01/web/electronic">Electronics</a></h2>
            <h2><a href="http://sfsuse.com/~sp17g01/sp17g01/web/book">Books</a></h2>
            <h2><a href="http://sfsuse.com/~sp17g01/sp17g01/web/furniture">Furniture</a></h2>
            <h2><a href="http://sfsuse.com/~sp17g01/sp17g01/web/art">Art</a></h2>
        </div>
        <div class="col-sm-8 bg-2 text-left">
        <ul>
            {% for item in items %}
               <div class="well">
                    <h1> Name: {{ item.name }} </h1>
                    <h2> Desc: {{ item.description }} </h2>
                    <h2> Price: {{ item.price }} </h2>
                   <h2> <img src = {{ item.image }}  width="300" height="200"> </h2>
               </div>     
            {% endfor %}
        </ul>
        </div>
    </div>
</div>
{% endblock %}
